<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Hangfire" version="1.7.17" targetFramework="net472" />
  <package id="Hangfire.Core" version="1.7.17" targetFramework="net472" />
  <package id="Hangfire.SqlServer" version="1.7.17" targetFramework="net472" />
  <package id="Microsoft.Owin" version="4.1.1" targetFramework="net472" />
  <package id="Microsoft.Owin.Host.HttpListener" version="4.1.1" targetFramework="net472" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="4.1.1" targetFramework="net472" />
  <package id="Microsoft.Owin.Hosting" version="4.1.1" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="5.0.1" targetFramework="net472" />
  <package id="Owin" version="1.0" targetFramework="net472" />
  <package id="Serilog" version="2.10.0" targetFramework="net472" />
  <package id="Topshelf" version="4.2.1" targetFramework="net472" />
</packages>